.nav-bar {
  background-color: #24292e;
  color: rgba(255,255,255,0.75);
  overflow: hidden;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.nav-bar a {
  color: #aef9d7;
  text-align: center;
  padding-left: 10px;
  text-decoration: none;
  font-size: 16px;
}
  
.nav-bar a.active {
  color: #fff;
}
  
.nav-bar a:hover {
  color: rgb(243, 223, 136);
}

.align-center {
  text-align: center;
}
.item-add-form {
  margin-top: 30px;
  margin-bottom: 10px;
}
